.react-dropdown-select {
  width: 176px !important;
  height: 48px !important;
  justify-content: flex-start;
  padding: 0 24px !important;
  color: white;
  border-radius: 8px !important;
  background-color: var(--scrim);
  font-size: 16px;
  border: none !important;
  cursor: pointer;
}

.mobile-toolbar .react-dropdown-select {
  width: 48px !important;
  height: 48px !important;
  padding: 12px !important;
  justify-content: center !important;
}

.mobile-toolbar .react-dropdown-select-content {
  justify-content: center !important;
  padding: 0 !important;
}

.mobile-toolbar .react-dropdown-select-content svg {
  margin: 0 !important;
}

.mobile-toolbar .react-dropdown-select-item {
  padding: 8px 16px;
  gap: 12px;
  white-space: nowrap;
}

.react-dropdown-select-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.react-dropdown-select-content svg {
  margin-right: 12px;
}

.react-dropdown-select:focus-within {
  background-color: white;
  color: var(--moss);
  outline: none !important;
  box-shadow: none !important;
}

.react-dropdown-select-item {
  color: var(--moss);
  height: 40px !important;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
}

.react-dropdown-select-input {
  color: #fff;
}

.react-dropdown-select-dropdown-handle {
  display: flex !important;
}

.mobile-toolbar .react-dropdown-select-dropdown-handle {
  display: none !important;
}

.react-dropdown-select-dropdown {
  position: absolute;
  left: 0;
  border: none;
  width: auto;
  min-width: 176px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px !important;
  max-height: 300px;
  overflow: auto;
  z-index: 9;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-dropdown-select-item:hover {
  background-color: var(--acid) !important;
}

.react-dropdown-select-item.react-dropdown-select-item-selected,
.react-dropdown-select-item.react-dropdown-select-item-active {
  color: var(--moss) !important;
  background-color: var(--acid) !important;
}

.react-dropdown-select-item:focus {
  color: var(--moss) !important;
  background-color: var(--acid) !important;
}

.react-dropdown-select-item.react-dropdown-select-item-disabled {
  background: #777;
  color: #ccc;
}

.react-dropdown-select-content .label,
.react-dropdown-select-item .label {
  pointer-events: none;
}
